.request-catalog {
  display: inline-flex;
  align-items: center;
  &__ico {
    display: inline-block;
    background: url(../img/docs.png) center / contain no-repeat;
    width: 72px;
    height: 72px;
  }
  &__link {
    margin-left: 16px;
    font-size: 11px;
    letter-spacing: 1px;
    color: #d5132a;
    text-transform: uppercase;
    font-family: "Museo Sans Cyrl";
    text-decoration: none;
    border-bottom: 1px dashed #d5132a;
    padding-bottom: 5px;
  }
}